.voting {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px ;
    justify-content: center;
}
.votingchild {
    border: solid 2px rgb(59 130 246);
    width: 8em;
    height: 8em;
    margin: 20px;
    border-radius: 8px;
    padding: 10px;
    color: rgb(59 130 246);
    cursor: pointer;
    
}

.votingchild:hover {
    border-color:  rgb(59 130 246);
    background-color:  rgb(59 130 246);
    color: white;
}

.votingchild input[type="radio"]:checked{
    background-color:  rgb(59 130 246);
    padding: 20px;
}

.label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button {
    background-color:  rgb(59 130 246);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    cursor: pointer;
    margin: 60px;
}

.button:hover {
    font-size: large;
}

.alert {
    background-color: #2dbc2d;
    width: 13em;
    height: 3em;
    padding: 10px;
    position: absolute;
    right: 0;
    margin: 10px;
    border-radius: 25px;
}
