.profile_teams_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
}

.profile_teams_list img {
   width: 20em;
}

.team_layout {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.team_description {
    background-color: black;
    color: #fff;
    border-radius: 25px;
    flex-basis: 20em;
}

.team_description img {
    width: 10em;
    margin: 1em;
}

.team_members {
    flex-basis:80em;
}

.team_members li {
    list-style: none;
}

.subject {

}